.card {
    text-align: center;
    padding: 15px;
    border-radius: 10px;
    cursor: pointer;
    transition: .3s;
}

.card:hover{
    background-color: #E6E6E6;
}

.card img {
    width: 80%;
    height: 80%;
    object-fit: cover;
}